.ingresosBody {
  padding-top: 150px;
  width: 80%;
  margin: auto;
}
.spinnerGeneral {
  padding-top: 150px;
  margin: auto;
  width: 60px;
}
.ingresosTop {
  color: red;
  padding: 5px 0 0 0;
  font-family: "Roboto";
  text-align: center;
}
.fabBoton {
  background-color: #79d9fc !important;
  height: 46px;
}
.addButtonContainer {
  width: 100px;
  margin: auto;
}
.graficosContainer {
  padding-top: 30px;
}
.lineHeight {
  width: 90%;
  margin: auto;
}
.modalContainer {
  margin: auto;
  width: 30%;
  min-width: 330px;
  padding-top: 100px;
}
.botonSalida {
  width: 24px;
  margin-left: auto;
  padding: 10px 15px 0 0;
  align-items: center;
}
.inputContainer {
  margin: auto;
  padding: 40px 0 0 0;
  width: 215px;
}
.select {
  width: 215px;
}
.submitContainer {
  width: fit-content;
  margin: auto;
  padding: 40px 0 40px 0;
}
.linea {
  max-height: 300px !important;
}
.egresosPieContainer {
  min-height: max-content !important;
}
.chartjs-render-monitor {
  min-height: 200px;
}
