.body {
  width: 70%;
  margin: auto;
}
.ingresos {
  padding: 20px 0;
  color: green;
}
.egresos {
  padding: 20px 0;
  color: red;
}
.saldo {
  padding: 20px 0;
  color: #0077ff;
}
.spinner {
  padding-top: 20px;
  width: 60px;
  margin: auto;
}
.spinnerGeneral {
  padding-top: 35%;
  margin: auto;
  width: 60px;
}
.lastInput {
  text-align: center;
  font-family: "Roboto";
  color: #8b8989;
  margin: auto;
}
.BarContainer {
  padding-top: 50px;
}
.progressContainer {
  padding-top: 50px;
  height: 300px;
}
.progressTitulo {
  padding-bottom: 30px;
}
.linearContainer {
  font-family: "Roboto";
  text-align: center;
  padding-bottom: 15px;
  width: 90%;
  margin: auto;
}
.linearContainer h5 {
  padding-bottom: 6px;
}
.linearProgress {
  padding-top: 5px;
  width: auto;
}
